<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Bot App</title>
</head>
<body>
<center>
    <div style="border:5px groove grey;margin-left:300px;margin-right:300px">
<h1 style="font-size:40px">My Chat App</h1>
<form action="/chat">
    <div>
        <table style="font-size:35px">
            <tr>
                <td><label>Enter your username</label></td>
                <td>:</td>
                <td><input style="font-size:25px" type="text" name="username" required></td>
            </tr>
            <tr>
                <td><br><label>Enter room id:</label></td>
                <td><br>:</td>
                <td><br><input style="font-size:25px" type="text" name="room" required></td>
            </tr>
        </table>
    </div><br><br>
    <button style="font-size:30px" type="submit">Submit</button><br><br>
</form>
        </div>
</center>
</body>
</html>